body {
    background: rgb(171, 212, 250);
}

h1 {
    color: rgba(87, 86, 86, 0.818);
    font-weight: bold;
    text-shadow: 1px 1px;
    text-align: center;
}

p {
    font-size: 24px;
    text-align: center;
}